.row-header{
    margin:0px auto;
    padding:0px auto;
  }
  
  .row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
  }
  
  .footer{
    font-style: Courier;
    background-image: url(./waves.png);
    margin:0px auto;
    padding: 20px 0px 40px 0px;
    min-height: 300px;
    color: rgb(11, 69, 77)!important;
    background-size: cover;
  }

  .footer a {
    text-decoration: none;
    color:rgb(11, 69, 77);
  }

  .footer h5 {
    margin: 20px 8vw 0 0;
  }

  .jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
  }
  
  address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
  }
  
  .navbar-dark {
    background-color: #005ec2;
  }
  
  .page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
  }
  
  .page-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  
  .page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
  }

  /* #CardImg {
      height: 50%;
      width: 50%;
  }  */

  #route {
    font-size: 1.7vw;
  }

.caption {
  background-color: rgba(0, 0, 0, 0.849);
}

#box {
  height: 680px;
  width: 1024px;
}

.searchRow {
  background-image: url(./abstractBlue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  background-color: rgb(204, 204, 204);
}

.searchRow label {
  font-weight: 600;
  color: white;
  
}

.searchRow select {
  padding: 4px 8px 4px 8px;
  border: none;
  border-radius: 8px;
}

.searchRow button {
  padding: 4px 30px 4px 30px;
}